@model ENOCA.Models.UpdateUserSettings
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-danger">
        <strong>Başarısız!</strong>&nbsp;&nbsp;&nbsp; @TempData["AlertMessage"]
    </div>
    <br />
}


<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Profilini ve Ayarlarını Düzenle</h4>
            <br />
            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {

                <form class="forms-sample">

                    <div class="form-group">
                        @Html.AntiForgeryToken()
                        <label for="WriterMail">Email</label>
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control",  @type = "email" })
                        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                    </div>
                    <br>
                    <button type="submit" class="btn btn-secondary">Güncelle</button>
                      <br>
                    <div class="alert alert-danger">
                        <strong>Dikkat!</strong>&nbsp;&nbsp;&nbsp; Bu İşlemden Sonra Yeniden Giriş Yapmanız Gerekmektedir...
                        <button aria-hidden="true" data-dismiss="alert" class="close" style="background-color:transparent;  border:hidden;" type="button">x</button>
                    </div>

                </form>
            }
            <button type="button" class="btn btn-primary my-button" data-toggle="modal" data-target="#myModal2">
                Şifreni Değiştir
            </button>
        </div>
        <div class="modal" id="myModal2">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title">Change Your Password</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    @using (Html.BeginForm("EditPassword", "Home", FormMethod.Post))
                    {
                        <div class="modal-body">


                            <label>Eski Şifre</label>
                            <input type="password" name="PasswordOld" id="WriterNewPasswordold" class="form-control" value="" required="" />
                            <br />  @Html.AntiForgeryToken()

                            <label>Yeni Şifre</label>
                            <input type="password" name="Password" id="WriterNewPassword" class="form-control" value="" required="" />
                            <br />
                            <label>Yeni Şifre Doğrula</label>
                            <input type="password" name="WriterNewPasswordCheck" id="WriterNewPasswordCheck" class="form-control" value="" required="" />
                            <span id='messageConfirm'></span>
                            <br />
                            <div class="alert alert-danger">
                                <strong>Dikkat!</strong>&nbsp;&nbsp;&nbsp; Bu İşlemden Sonra Yeniden Giriş Yapmanız Gerekmektedir...
                                <button aria-hidden="true" data-dismiss="alert" class="close" style="background-color:transparent;  border:hidden;" type="button">x</button>
                            </div>
                        </div>


                        <div class="modal-footer">
                            <br>
                            <input type="submit" id="submit" class="btn btn-primary" value="Güncelle">
                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Vazgeç</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    if ($('#WriterNewPassword').val() != null) {
        $('#WriterNewPassword, #WriterNewPasswordCheck').on('keyup', function() {
            if ($('#WriterNewPassword').val() == $('#WriterNewPasswordCheck').val()) {
                $('#messageConfirm').html('Şifreler Aynı').css('color', 'green');
                document.getElementById('submit').disabled = false;
            } else {
                $('#messageConfirm').html('Şifreler Farklı').css('color', 'red');
                document.getElementById('submit').disabled = true;
            }
        });
    }

</script>